
<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" id="HomeSelect" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/games/" id="GameSelect" class="nav-link">Games</a></li>
        <li class="nav-item"><a href="/players/" id="PlayerSelect" class="nav-link">Players</a></li>
      </ul>
    </header>
</div>
<script>
    let windowLocation = window.location.href.split("/")[3];
    if (windowLocation === "games"){
        document.getElementById("GameSelect").classList.add("active");
    }
    else if (windowLocation === "players"){
        document.getElementById("PlayerSelect").classList.add("active");
    }
    else{
        document.getElementById("HomeSelect").classList.add("active");
    }
</script>