<%- include('../../partials/head') %>
<%- include('../../partials/navbar') %>

<div style="display: flex; justify-content: space-around;">
    <a href="/games/"><button class="button5">Back</button></a>
</div>
<div class="container px-5 my-5">
    <div class="card cardCustom" style="margin-top: 20px;">
        <div class="card-header">
            <h1>Add a game</h1>
        </div> 
        <div class="card-body">
            <form onsubmit="return validateGameForm('addGame')" action="/games/add" method="post" name="addGame">
                <p style="margin-bottom: 3px; font-weight: 600;">Game name: <input class="form-control" name="name" type="text" /></p>
                <p id="nameStatus"><br></p>
                <p style="margin-bottom: 3px;">Match duration: <input class="form-control" name="duration" type="text" /></p>    
                <p id="durationStatus"><br></p>
                <p style="margin-bottom: 3px;">Team size:<input class="form-control" name="team_size" type="text" /></p>
                <p id="sizeStatus"><br></p>
                <button class="button4 btn-lg" id="submitButton" type="submit">Add game</button>
            </form>
        </div>  
    </div>
</div>
<script src="/public/gameFormValidation.js"></script>
<%- include('../../partials/footer') %>