<%- include('../../partials/head') %>
<%- include('../../partials/navbar') %>

<div style="display: flex; justify-content: space-around;">
    <a href="/players/"><button class="button3">Back</button></a>
</div>
<div class="container px-5 my-5">
    <div class="card cardCustom" style="margin-top: 20px;">
        <div class="card-header">
            <h1>Add a player</h1>
        </div>  
        <div class="card-body">
            <form onsubmit="return validatePlayerForm('addPlayer')" action="/players/add" method="post" name="addPlayer" >
                <p style="margin-bottom: 3px;">Player name: <input class="form-control" name="name" type="text" /></p>
                <p id="nameStatus"><br></p>
                <p style="margin-bottom: 3px;">Player email: <input class="form-control" name="email" type="text" /></p>    
                <p id="emailStatus"><br></p>
                <button class="button4" id="submitButton" type="submit">Add player</button>
            </form>
        </div>  
    </div>
</div>
<script src="/public/playerFormValidation.js"></script>
<%- include('../../partials/footer') %>